/*Cart CSS*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.productImg {
  height: 150px;
}

.total-price-section {
  position: sticky;
  bottom: 0;
  background-color: white;
}

.total-price-line {
  width: 100%;
  height: 1px;
}

#purchase {
  width: 100%;
}

#trashButton {
  border: 0;
  background-color: transparent;
}

#checkOut {
  width: 100%;
}
