.container-checkOut {
  width: 85%;
  margin: 40px auto;
}
.paiment-container {
  width: 554px;
}
.col-of-action {
  margin-top: 17px;
  margin-bottom: 50px;
}
.check-out-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.payment-method-img {
  height: 50px;
  width: 70px;
}
.paiment-method-img-paypal {
  height: 28px;
  width: 36px;
}

.img-check-out {
  height: 150px;
  width: 130px;
}
.form-check-out {
  margin: auto;
}

.form-check-out {
  border: solid 2px #0000;
}
.form-check-out label {
  display: block;
  margin-bottom: 5px;
  margin-right: 10px;
}

.form-check-out input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}
.date-check-out {
  font-size: 1rem;
}
.order-reference-check-out {
  font-size: 0.8rem;
}

.payment-method-img-paypal {
  margin-top: 10px;
  height: 35px;
  width: 45px;
}
.payment-method-img-common {
  width: 70px;
  height: 40px;
  margin: 5px;
}
.payment-method-img-mp {
  margin-top: 12px;
  height: 32px;
  width: 80px;
}
.selected-payment {
  border: 2px solid #0da605;
  border-radius: 3px;
}

@media (min-width: 1200px) {
  .product-details {
    margin-right: 140px;
  }
}
@media (max-width: 626px) {
  .product-details {
    margin-right: 40px;
  }
}
.order-item {
  margin: 15px 0;
}

@media (min-width: 1200px) {
  .product-image-container {
    margin-left: 140px;
  }
}
@media (max-width: 626px) {
  .product-image-container {
    margin-left: 40px;
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  .img-check-out {
    width: 90px;
    height: 100px;
  }
  .title-image-checkOut {
    font-size: 1rem;
  }
  .date-check-out {
    font-size: 0.5rem;
  }
  .data-checkOut {
    font-size: 0.8rem;
  }
  .info-summary {
    font-size: 0.8rem;
  }
}

.order-summary {
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-summary ul {
  list-style-type: none;
  padding: 0;
  margin-left: 15px;
}

.order-summary ul li {
  display: flex;
  align-items: center;
  padding: 5px 0;
  font-size: 0.9rem;
}

.order-summary p {
  padding: 5px 0;
  font-size: 1rem;
}

.order-product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}
