.checkOut {
  margin-top: 150px;
}

.img-check-out {
  max-height: 100px;
  max-width: 100px;
}

.checkout-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px auto;
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.order-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.product-item div h4 {
  min-height: 50px; /* Establece la altura mínima que desees */
  /* Opcionalmente, puedes usar max-height para limitar la altura máxima */
  /* max-height: 50px; */
  margin: 0; /* Elimina cualquier margen predeterminado que pueda afectar la altura */
  display: flex; /* Alinea verticalmente el contenido en los elementos h4 */
  align-items: center; /* Alinea verticalmente el contenido en el centro */
}

.product-item img {
  max-width: 100px;
  margin-right: 10px;
}

.circular-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #333;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 5px;
}

.circular-checkbox:checked {
  background-color: #333;
}
.payment-title-container {
  width: 50px;
}
