/*ContactUs CSS*/

.background-contact {
  background-image: linear-gradient(
      120deg,
      rgba(0, 0, 0, 0.87) 0%,
      rgba(0, 0, 0, 0.57) 100%
    ),
    url("https://www.chimeneasllama.net/73-large_default/hergom-e-30-s.jpg");
  background-size: cover;
  color: white;
  padding-top: 200px;
  padding-bottom: 110px;
}

.text-about {
  max-width: 1080px;
}

.info-about {
  background-color: #efe9e4;
  background-color: #efe9e4;
}

.team-about {
  background-color: #434241;
  color: white;
}

.form {
  padding: 100px;
  background-color: rgb(61, 60, 60);
  color: white;
}

.formControl {
  background-color: rgba(100, 100, 100, 0);
  color: white;
}

.formControl:focus {
  background-color: transparent;
  color: white;
}

.comment-label {
  margin-bottom: 9px;
}

.btnSend {
  width: 150px;
  color: black;
  background-color: white;
  border-color: white;
  transition: 0.7s;
}

.btnSend:hover {
  color: white;
  background-color: #434241;
}
