.forgot-password-container {
    height: 100vh;
    background: linear-gradient(45deg, #af4261, #f3ec78);
}

.forgot-password-panel {
    width: 100%;
    max-width: 500px;
    background: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.forgot-password-panel h2 {
    font-weight: bold;
    color: #333;
}

.forgot-password-panel p {
    color: #777;
}

.forgot-password-panel .btn {
    background: #333;
    color: #ffffff;
    transition: background 0.3s;
}

.forgot-password-panel .btn:hover {
    background: #555;
}