.star-icon {
  padding: 5px 10px 7px 11px;
  color: rgb(248, 184, 7);
  font-size: 1.8rem;
}
.buy-button {
  background-color: #eca354;
  color: white;
  font-weight: 600;
  border: solid;
  border-color: #eca354;
  text-decoration: none;
}
.buy-button:hover {
  background-color: white;
  color: #f09535;
  font-weight: 600;
  border: solid;
  border-color: #eca354;
}
.rate-button {
  background-color: white;
  color: #f09535;
  font-weight: 600;
  border: solid;
  border-color: #eca354;
}
.rate-button:hover {
  background-color: #f09535;
  color: white;
  font-weight: 600;
}
.product-image {
  width: 110px;
  padding-left: 10px;
  display: inline-block;
}
.product-name {
  font-weight: 600;
}
.order-reference {
  font-size: 0.8rem;
}
.p-product {
  display: block;
}
.smile {
  color: rgb(248, 184, 7);
  font-size: 1.5rem;
}
.other-images {
  width: 60%;
}
@media (min-width: 381px) and (max-width: 576px) {
  .other-images {
    width: 20%;
  }
  .title {
    text-align: center;
  }
}
@media (min-width: 577px) and (max-width: 991px) {
  .other-images {
    width: 80%;
  }
  .other-products-name {
    font-size: 1.2rem;
  }
}
@media (min-width: 0px) and (max-width: 380px) {
  .p-my-purchases {
    font-size: 0.8rem;
  }
  .other-images {
    width: 20%;
  }
  .title {
    text-align: center;
  }
}

a {
  text-decoration: none;
}
