/* One Product CSS */

.container-left-product-page {
  padding-top: 122px;
  width: 100%;
}

.img-product-page {
  height: 500px;
}

.left-column-product {
  background-color: #f4f4f4;
  height: 550px;
  width: 300px;
}

.btn-product-page {
  background-color: #eca354;
  color: white;
  font-weight: 600;
  border: solid;
  border-color: #eca354;
  height: 50px;
  width: 150px;
}
.btn-product-page:hover {
  background-color: white;
  color: #f09535;
  font-weight: 600;
  border: solid;
  border-color: #eca354;
}

.line-description-product {
  height: 1px;
}

.circle-color-product {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
}

.right-column-product {
  height: 100vh;
  width: 380px;
  position: sticky;
  top: 122px;
  margin-top: 122px;
}

.details-right-column-product {
  height: 125px;
  background-color: #f4f4f4;
}

.image-right-column-product {
  height: 150px;
}
@media (min-width: 992px) {
  .ul-product-page {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30%;
  }
}

.li-product-page {
  background-color: #e4e4e4;
  width: 100%;
}
.li-product-page-light {
  background-color: #fefefe;
  width: 100%;
}

.li-product-page p {
  width: 50%;
}
.li-product-page-light p {
  width: 50%;
}
