/* Products of Category CSS */

.image-product-wood {
  width: 85%;
  height: 90%;
  margin: auto;
  margin-top: 0;
}

.image-product-pellet {
  width: 100%;
  margin: auto;
  height: 250px;
}

.hr-product-wood {
  width: 60px;
  margin: auto;
}

.hr-product-wood-top {
  width: 80px;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  display: flex;
}

.hr-wood {
  margin-top: 30px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  height: 1.8px;
}

.p-sizes-product {
  color: grey;
  font-size: 0.8rem;
  margin-top: 20px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  display: flex;
}

.banner-wood-stoves {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/wood_stoves_banner_2.jpg");
  height: 50vh;
  margin-top: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-pellet-stoves {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/pellet_stoves_banner.jpg");
  height: 50vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}

.banner-accessories-stoves {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/wood_stoves_banner.jpg");
  height: 50vh;
  background-position: center 67%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
}

.banner-wood-text-title {
  margin-left: 10%;
  color: white;
  font-size: 4rem;
  opacity: 0;
  transform: translateX(-100%);
}

.banner-wood-text-paragraph {
  margin-left: 3%;
  margin-right: 10%;
  color: white;
  font-size: 1.3rem;
  opacity: 0;
  transform: translateX(100%);
}

@media (min-width: 577px) and (max-width: 992px) {
  .banner-wood-stoves,
  .banner-pellet-stoves,
  .banner-accessories-stoves {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner-wood-text-title {
    margin-left: 0;
    text-align: center;
  }
}
.filter-section {
  color:white;
  background-color: rgba(0, 0, 0, 0.575);
}

@media (min-width: 0px) and (max-width: 576px) {
  .image-product-wood {
    width: 60%;
    margin-left: 20%;
  }
  .about-this-project-btn {
    display: none;
  }
  .filter-section {
    margin-top: 120px;
    background-color: black;
  }
}

@media (min-width: 992px) {
  .image-product-pellet {
    margin-bottom: 20px;
  }
}

.alt-title-wood {
  font-size: 3rem;
  
}

.link-product-wood {
  text-decoration: none;
  color: orangered;
  font-weight: 500;
  font-size: 0.7rem;
}

.filter-button{
  background-color: #f9b468;
  color: white;
  font-weight: 600;
}


.product-wood:hover .p-sizes-product {
  opacity: 1;
  max-height: 100px;
}

.product-wood:hover .hr-product-wood-top {
  opacity: 0.3;
}

.product-wood {
  margin-bottom: 100px;
  position: relative;
}

.product-wood {
  position: relative;
}

.discover-section {
  position: absolute;
  z-index: 9;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-from-left {
  animation: slideFromLeft 1.25s forwards;
}

.animate-from-right {
  animation: slideFromRight 1.25s forwards;
}
