/*Register y Login CSS*/
.body-register {
  min-height: 100vh;
  overflow: hidden;
}
.image-register-container {
  height: 100%;
  padding: 30px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  );
}

.image-register-container {
  background-color: black;
}

.card-product {
  position: relative;
}

.container-register {
  overflow: hidden;
  margin-top: 160px;
  width: 85%;
  margin-bottom: 50px;
}

.image-register {
  width: 100%;
}

.link-register-login {
  display: block;
}

@media (max-width: 576px) {
  .container-register h2 {
    text-align: center;
  }
}
