/* NavBar CSS */
.navBarItems {
  font-size: 1.7rem;
  color: black;
}
.image-navbar {
  width: 130px;
}
.about-this-project {
  color: rgb(12, 12, 12);
  font-weight: bold;
}

/* Hero CSS */
.hero-container {
  background-color: white; /* hay que cambiar esto */
}
.hero-title {
  font-size: 500%;
}

/* ScrollSection CSS */
.scroll-section-outer {
  background-color: rgb(213, 213, 213);
  overflow: hidden;
}
.scroll-section-inner {
  height: 100vh;
  width: 900vw;
  display: flex;
  flex-direction: row;
  position: relative;
}
.scroll-section {
  width: 80vw;
  height: 100vh;
  padding: auto;
  flex-direction: row;
}
.scroll-img {
  object-fit: cover;
  width: 97.5%;
  height: 99%;
}

@media (max-width: 375px) {
  .scroll-section-outer {
    display: none;
  }
}
@media (max-width: 768) {
  .scroll-section-outer {
    background-color: rgb(213, 213, 213);
    overflow: hidden;
  }
  .scroll-section-inner {
    height: 100vh;
    width: 900vw;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .scroll-section {
    width: 100vw;
    height: 100vh;
    padding: auto;
    flex-direction: row;
  }

  .scroll-img {
    object-fit: cover;
    width: 97.5%;
    height: 99%;
  }
}

/* Categories Section CSS */
.categories-section {
  padding: 0;
  margin: 0;
  background-color: #c9c7ac;
  height: 240vh;
  width: 100vw;
}
.row-category {
  width: 100vw;
}
.categories-contaier {
  width: 100vw;
  background-color: red;
}
.categories-image-container {
  overflow: hidden;
  padding: 0;
}
.categories-second-div-img {
  background-color: rgba(40, 38, 36, 255);
  overflow: hidden;
  height: 80vh;
}
.section-second-title {
  color: rgba(239, 239, 239, 255);
}

.section-second-p {
  color: #989796;
}
.categories-img {
  object-fit: fill;
}
.categories-button-show-products {
  border-radius: 3px;
  border: none;
  padding: 4px 3px;
  background-color: #fdb467;
  color: #ffebd6;
}

.categories-first-div-img {
  background-color: #efe9e4;
}
.section-first-title {
  color: #3d3d3d;
}

.section-first-p {
  color: #8d8b8a;
}
.categories-section-img {
  height: 80vh;
}
.categories-section-img-3 {
  object-fit: cover;
  height: 80vh;
  width: 75vw;
  padding: 0;
  margin: 0;
}
.categories-img {
  height: 80vh;
  padding: 0;
}

/* List of Products CSS */

/* Products of Category CSS */

.image-product-wood {
  width: 85%;
  margin: auto;
}
.hr-product-wood {
  width: 60px;
  margin: auto; 
}
.hr-product-wood-top {
  width: 80px;
  margin: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  display: flex;
}
.hr-wood {
  margin-top: 30px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  height: 1.8px;
}
.p-sizes-product {
  color: grey;
  font-size: 0.8rem;
  margin-top: 20px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  display: flex;
}
.banner-wood-stoves {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/wood_stoves_banner_2.jpg");
  height: 50vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-wood-text-title {
  margin-left: 10%;
  color: white;
  font-size: 4rem;
}
.banner-wood-text-paragraph {
  margin-left: 3%;
  margin-right: 3%;
  color: white;
  font-size: 1.3rem;
}
@media (min-width: 577px) and (max-width: 992px) {
  .banner-wood-stoves {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner-wood-text-title {
    margin-left: 0;
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 576px) {
  .image-product-wood {
    width: 70%;
    margin-left: 15%;
  }
}

.alt-title-wood {
  font-size: 3rem;
}
.link-product-wood {
  text-decoration: none;
  color: orangered;
  font-weight: 500;
  font-size: 0.7rem;
}
.product-wood:hover .p-sizes-product {
  opacity: 1;
  margin-top: 20px;
  max-height: 100px;
}
.product-wood:hover .hr-product-wood-top {
  opacity: 0.3;
}
.product-wood {
  margin-bottom: 100px;
  position: relative;
}
.product-wood :hover {
  margin-top: 0;
}
.product-wood {
  position: relative;
}
.discover-section {
  position: absolute;
  z-index: 9;
}

@keyframes slideFromLeft {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

.animate-from-left {
  animation: slideFromLeft 1.25s forwards;
}

.animate-from-right {
  animation: slideFromRight 1.25s forwards;
}
/*Register y Login CSS*/
.container-register {
  width: 86%;
  overflow: hidden;
}
.body-register {
  height: calc(100vh - 107.297px);
}
.image-register {
  width: 100%;
}
.image-register-container {
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("./assets/flame-circle.jpg");
}
.link-register {
  border: none;
  color: orangered;
  background-color: white;
  text-decoration: underline;
  font-weight: 500;
}

/* One Product CSS */

.img-product-page {
  height: 500px;
}

.left-column-product {
  background-color: #f4f4f4;
  height: 600px;
  width: 300px;
}

.container-left-product-page {
  margin: 0px 130px;
}

.btn-product-page {
  background-color: white;
  border: 1px;
  width: 90%;
  margin: 5%;
}

.line-description-product {
  height: 1px;
}

.circle-color-product {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
}

.right-column-product {
  height: 100vh;
  width: 550px;
  position: sticky;
  top: 0;
}

.details-right-column-product {
  height: 125px;
  background-color: #f4f4f4;
}

.image-right-column-product {
  height: 150px;
}

.ul-product-page {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li-product-page {
  background-color: #e4e4e4;
  width: 300px;
}
.li-product-page-light {
  background-color: #fefefe;
  width: 300px;
}

.li-product-page p {
  width: 50%;
}
.li-product-page-light p {
  width: 50%;
}

/* About Us CSS */
.background-about {
  background-image: linear-gradient(120deg,rgba(0,0,0,0.87) 0%,rgba(0,0,0,0.57) 100%), url("/public/about.jpg");
  background-size: cover;
  color: white;
  padding-top: 110px;
  padding-bottom: 110px;
}
.text-about {
  max-width: 1080px;
}
.info-about {
  background-color: #EFE9E4;
}
.team-about {
  background-color: #434241;
  color: white;
}
/* Try Again CSS */

/*Cart CSS*/
.productImg {
  width: 170px;
  height: 150px;
}
#purchase {
  width: 100%;
}
#trashButton {
  border: 0;
  background-color: transparent;
}

/* Footer CSS */
#footer {
  background-color: hsl(0, 6%, 50%);
  max-width: 100%;
  color: white;
}

/* Not Found */
.notFound {
  text-decoration: none;
  color: inherit;
}
