/* NavBar CSS */
.navBarItems {
  font-size: 1.7rem;
  color: black;
}
.image-navbar {
  width: 130px;
}
.about-this-project {
  color: orangered;
  font-weight: bold;
}

/* Hero CSS */
.hero-container {
  background-color: white; /* hay que cambiar esto */
}
.hero-title {
  font-size: 500%;
}

/* ScrollSection CSS */
.scroll-section-outer {
  background-color: rgb(213, 213, 213);
  overflow: hidden;
}
.scroll-section-inner {
  height: 100vh;
  width: 900vw;
  display: flex;
  flex-direction: row;
  position: relative;
}
.scroll-section {
  width: 80vw;
  height: 100vh;
  padding: auto;
  flex-direction: row;
}
.scroll-img {
  object-fit: cover;
  width: 97.5%;
  height: 99%;
}

@media (max-width: 375px) {
  .scroll-section-outer {
    display: none;
  }
}
@media (max-width: 768) {
  .scroll-section-outer {
    background-color: rgb(213, 213, 213);
    overflow: hidden;
  }
  .scroll-section-inner {
    height: 100vh;
    width: 900vw;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .scroll-section {
    width: 100vw;
    height: 100vh;
    padding: auto;
    flex-direction: row;
  }

  .scroll-img {
    object-fit: cover;
    width: 97.5%;
    height: 99%;
  }
}

/* Home CSS */
.section-white {
  background-color: #ffffff;
  background-color: #ffffff;
}
.box-cyan {
  position: relative;
  background-color: #f0f7fd;
  background-color: #f0f7fd;
}
.box-cyan h3 {
  position: absolute;
  left: 60px;
  top: -20px;
}
.content-icon {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.box-cyan h4 {
  min-height: 75px;
}
.box-cyan p {
  min-height: 10px;
}
.icon-calefaccion {
  width: 75px;
  height: 155px;
}
.icon-sist-mile {
  width: 88px;
  height: 112px;
}
.btn-green {
  color: #ffffff;
  color: #ffffff;
  background-color: #679186;
}
@media (min-width: 768px) and (max-width: 992px) {
  .btn-green {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
}
.btn-green:hover {
  background-color: #496a61;
  transition: 0.35s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
/* List of Products CSS */

/* ProductsWood CSS */
.image-product-wood {
  width: 100%;
}
.hr-product-wood {
  width: 12%;
  margin: auto;
  color: black;
  background-color: black;
  height: 1.5px;
}
.p-sizes-product {
  color: grey;
  font-size: 0.8rem;
}
.banner-wood-stoves {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/wood_stoves_banner_2.jpg");
  height: 50vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-wood-text-title {
  margin-left: 10%;
  color: white;
  font-size: 4rem;
  text-align: center;
}
.banner-wood-text-paragraph {
  margin-left: 3%;
  margin-right: 3%;
  color: white;
  font-size: 1.3rem;
}
@media (min-width: 577px) and (max-width: 992px) {
  .banner-wood-stoves {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner-wood-text-title {
    margin-left: 0;
  }
}

/*Register y Login CSS*/
.container-register {
  width: 86%;
  overflow: hidden;
}
.body-register {
  height: calc(100vh - 107.297px);
}
.image-register {
  width: 100%;
}
.image-register-container {
  height: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("./assets/flame-circle.jpg");
}
.link-register {
  border: none;
  color: orangered;
  background-color: white;
  text-decoration: underline;
  font-weight: 500;
}

/* One Product CSS */

.img-product-page {
  height: 500px;
}

.left-column-product {
  background-color: #f3f3f3;
  height: 600px;
  width: 300px;
}

.btn-product-page {
  background-color: white;
  border: 1px;
  width: 90%;
  margin: 5%;
}

.line-description-product {
  height: 1px;
}

.right-column-product {
  height: 100vh;
}

.details-right-column-product {
  height: 125px;
  background-color: #f3f3f3;
}

.image-right-column-product {
  height: 150px;
}

/* About Us CSS */

/*Cart CSS*/
.productImg {
  width: 170px;
  height: 150px;
}
#purchase {
  width: 100%;
}
#trashButton {
  border: 0;
  background-color: transparent;
}

/* Footer CSS */
#footer {
  background-color: hsl(0, 6%, 50%);
  max-width: 100%;
  color: white;
}

/* Not Found */
.notFound {
  text-decoration: none;
  color: inherit;
}
