/* NavBar CSS */

.navBarItems {
  font-size: 1.7rem;
  color: black;
}
.image-navbar{
  width: 130px;

}
/* Hero CSS */
.hero-title {
  font-size: 15rem;
}
/* ScrollSection CSS */

.scroll-section-outer {
  overflow: hidden;
}
.scroll-section-inner {
  height: 100vh;
  width: 600vw;
  display: flex;
  flex-direction: row;
  position: relative;
}
.scroll-section {
  max-width: 80vw;
}

/* Home CSS */

.section-white {
  background-color: #FFFFFF;
}
.box-cyan {
  position: relative;
  background-color: #F0F7FD;
}
.box-cyan h3 {
  position: absolute;
  left: 60px;
  top: -20px;
}

.content-icon {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.box-cyan h4 {
  min-height: 75px;
}
.box-cyan p {
  min-height: 10px;
}
.icon-calefaccion {
  width: 75px;
  height: 155px;
}
.icon-sist-mile {
  width: 88px;
  height: 112px;
}
.btn-green {
  color: #FFFFFF;
  background-color: #679186;
}
@media (min-width: 768px) and (max-width: 992px) {
  .btn-green {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
}
.btn-green:hover {
  background-color: #496a61;
  transition: 0.35s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* List of Products CSS */

/* Products CSS */

.image-product {
  width: 100%;
  height: 260px;
}
.hr-product {
  width: 12%;
  margin: auto;
  color: black;
  background-color: black;
  height: 1.5px;
}
.p-sizes-product {
  color: grey;
  font-size: 0.8rem;
}
.link-product {
  font-size: 0.9rem;
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-color: rgba(128, 128, 128, 0.781);
}
.card-product {
  position: relative;  
}

/*Register y Login CSS*/

.container-register{
  width: 86%;
  overflow: hidden;
}
.body-register{
  height: 93vh;
}
.image-register{
  width: 100%;
}
.image-register-container{
  height: 100%;
  background-image:
  linear-gradient(to bottom,rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("./assets/flame-circle.jpg");
}
.link-register{
  border: none;
  color: orangered;
  background-color: white;
  text-decoration: underline;
  font-weight:500;
}


/* One Product CSS */

.text-product-page {
  height: 100%;
}

.container-product-page {
  width: 100%;
}

.product-in-background {
  height: 250px;
  width: 200px;
  bottom: 50px;
  left: 100px;
  object-fit: cover;
  position: absolute;
}

.one-product-background {
  background-image: url("/public/decoracion-minimalista.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 100%;
  height: 650px;
  position: relative;
}
/* About Us CSS */

/* Try Again CSS */

/*Cart CSS*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.productImg {
  width: 170px;
  height: 150px;
}

#purchase {
  width: 100%;
}

#trashButton {
  border: 0;
  background-color: transparent;
}

/* Footer CSS */

#footer {
  background-color: black;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  color: white;
}

/* Not Found */

.notFound {
  text-decoration: none;
  color: inherit;
}
